In [4]:
import pandas as pd
import numpy as np

df = pd.read_excel("/home/nzima-ubuntu/Desktop/LLMs learning/Statistical_programming/Medals.xlsx")
df.head()

/home/nzima-ubuntu/miniconda3/envs/codenv/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

In [ ]:
def error():
    word = input("give us a word")
    try:
        if (word == "stupid"):
            raise ValueError
        elif (word == "jump"):
            raise ValueError
        
    except ValueError:
        print("something went wrong...")
    else:
        print(word,"successfully saved")
    finally:
        print("database closed")
        
        
        raise ValueError("do not insult...")
    
error()